<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>UGC节目库静态页</title>

<!-- Bootstrap and jQuery UI libs -->
<link rel='stylesheet' href='bootstrap.css' />
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<!-- My js and css code -->
<script src="js/UGC.Action.js" charset="utf-8"></script>
<script src="js/UGC.Base.js" charset="utf-8"></script>
<script src="js/UGC.Config.js" charset="utf-8"></script>
<script src="js/UGC.Dao.js" charset="utf-8"></script>
<script src="js/UGC.Util.js" charset="utf-8"></script>
<script src="js/UGC.Grid.js" charset="utf-8"></script>
<link rel="stylesheet" href="main.css">
<script charset="utf-8">
    $(function () {
        UGC.Action.run($('#UgcContainer'));
        UGC.Action.getGrid({
            '$container': $('#GridContainer')
        }).run();
    });
</script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">UGC静态页</a>
        </div>
      </div>
    </div>

    <div id="UgcContainer" class="wrapper">
        <nav>
            <ul class="bread">
                <li>内容编目<span class="divider"> &gt; </span></li>
                <li>UGC节目库</li>
            </ul>
        </nav>

        <div class="fastoper">
            <a href="/video/home?createUser=400000025">我创建的节目</a>
            <a href="/video/home?catalogUser=400000025">我编目的节目</a>
        </div>

        <div class="container-whitebox">
             <form class="form-inline" id="QueryContainer">
                <div class="container-query-options">
                    <div class=" row-fluid">
                        <div class="control-group line-space">
                            <label class="control-label" for="videoName">节目名称：</label>
                            <div class="controls">
                                <input type="text" name="videoName" placeholder="" class="input-medium">
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">创建时间：</label>
                            <div class="controls">
                                <input type="text" name="publishTimeStart" class="input-mini">&nbsp;~&nbsp;
                                <input type="text" name="publishTimeEnd" class="input-mini">
                                <div class="block-a">
                                    <a href="javascript:;" data-time-select="today">今天</a>&nbsp;
                                    <a href="javascript:;" data-time-select="yesterday">昨天</a>
                                    <br>
                                    <a href="javascript:;" data-time-select="week">3天</a>&nbsp;&nbsp;
                                    <a href="javascript:;" data-time-select="week">7天</a>
                                </div>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">审核状态：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="">全部</option>
                                    <option value="1">审核通过</option>
                                    <option value="2">审核未通过</option>
                                    <option value="3">未审核</option>
                                    <option value="4">用户删除</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">发布状态：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="">全部</option>
                                    <option value="1">未发布</option>
                                    <option value="2">已发布</option>
                                    <option value="3">发布失败</option>
                                    <option value="4">已下线</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <select name="" class="control-select">
                                <option value="1">节目ID</option>
                                <option value="2">奇谱ID</option>
                            </select>
                            <div class="controls">
                                <input type="text" id="CategoryID" name="channelId" placeholder="" class="input-medium">
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">播放时长：</label>
                            <div class="controls">
                                <input type="text" name="publishTimeStart" class="input-mini">&nbsp;~&nbsp;
                                <input type="text" name="publishTimeEnd" class="input-mini">
                                <div class="block-a">
                                    <a href="javascript:;" data-time-select="5">&lt;5min&nbsp;</a>
                                    <a href="javascript:;" data-time-select="10">&lt;10min</a>
                                    <br>
                                    <a href="javascript:;" data-time-select="30">&lt;30min</a>
                                </div>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">转码状态：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="0">全部</option>
                                    <option value="1">未转码</option>
                                    <option value="2">转码中</option>
                                    <option value="3">转码异常</option>
                                    <option value="4">转码完成</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">推送状态：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="0">全部</option>
                                    <option value="1">未推送</option>
                                    <option value="2">待推送</option>
                                    <option value="3">已推送</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">推荐等级：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="0">全部</option>
                                    <option value="1">强烈推荐</option>
                                    <option value="2">可用及以上</option>
                                    <option value="3">基本可用及以上</option>
                                    <option value="4">无用</option>
                                    <option value="5">无</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">内容来源：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="0">全部</option>
                                    <option value="1">PPS</option>
                                    <option value="2">啪啪奇</option>
                                    <option value="3">百度贴吧</option>
                                    <option value="4">赶集网</option>
                                    <option value="5">其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group line-space">
                            <label class="control-label" for="">片源清晰度：</label>
                            <div class="controls">
                                <select name="" class="select-medium">
                                    <option value="0">全部</option>
                                    <option value="1">极速</option>
                                    <option value="2">流畅</option>
                                    <option value="3">高清</option>
                                    <option value="4">超清</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contaienr-query-btn">
                    <label for="" class="control-label"></label>
                    <div class="controls text-left">
                        <input type="submit" class="btn btn-primary" id="DoQuery" value="查询" />
                        <input type="button" class="btn btn-info" id="DoReset" value="重置" />
                    </div>
                </div>
            </form>
        </div>

        <div id="BatchBtn" class="container-btn-primary">
            <button type="button" class="btn btn-primary query-btn" onclick="javascript:UGC.Action.batch();">批量推送到PGC节目库</button>
        </div>

        <div class="container-whitebox">
            <label class="control-label">排序方式：</label>
            <div id="OrderBtnGroup" class="btn-group controls">
                <a class="btn" href="javascript:;" onclick="UGC.Action.gridReload(1, true)">上传时间<i class="icon-arrow-down"></i></a>
                <a class="btn" href="javascript:;" onclick="UGC.Action.gridReload(2, true)">片源清晰度<i class="icon-arrow-down"></i></a>
                <a class="btn" href="javascript:;" onclick="UGC.Action.gridReload(3, true)">推荐等级<i class="icon-arrow-down"></i></a>
            </div>

            <div class="image-list" id="GridContainer">
                <ul></ul>
            </div>
        </div>

        <hr />

        <footer>
            <p><a href="javascript:;">乐高系统</a> 2013</p>
        </footer>
    </div>

    <div class="hide" id="DetailDialog">
        <div class="row-fluid">
            <div id="PlayerContent"></div>
            <table id="VideoInfoList" class="table table-striped table-bordered table-condensed">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="hide" id="PushDialog">
        <form class="form-inline">
            <div class="control-group line-space">
                <label class="control-label" for="videoName">选择频道：<span class="form-must">*</span></label>
                <div class="controls">
                    <input type="text" name="channel" placeholder="">
                </div>
            </div>

            <div class="control-group line-space">
                <label class="control-label" for="videoName">节目名称：<span class="form-must">*</span></label>
                <div class="controls">
                    <input type="text" name="videoName" placeholder="">
                </div>
            </div>
        </form>
    </div>

    <div class="hide" id="BatchDialog">
        <div class="control-group">
            <label class="control-label" for="videoName">推送频道：</label>
            <div class="controls">
                <input type="text" name="channel" placeholder="" class="input-medium">
                <span style="color:#CECBCB;">输入后会自动带入下方每个节目的推送频道</span>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>节目名称</td>
                    <td>推送频道</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="hide" id="ProcessDialog">
    </div>

    <div class="hide" id="ControlDialog">
        <form class="form-inline">
            <div class=" row-fluid">
                <div class="control-group mb40">
                    <label class="control-label-w" for="videoName">视频播放控制操作：<span class="form-must">*</span></label>
                    <div class="controls">
                        <input type="radio" name="operation" class="label-radio" value="1"><span class="radio-label">有效</span>
                        <input type="radio" name="operation" class="label-radio" value="2"><span class="radio-label">无效</span>
                    </div>
                </div>

                <div class="control-group mb40">
                    <label class="control-label-w" for="videoName">变更原因：</label>
                    <div class="controls">
                        <textarea row=5 name="reason"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>操作时间</td>
                    <td>操作</td>
                    <td>操作内容</td>
                    <td>操作人</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script id="TmplDetailTable" type="text/x-jquery-tmpl">
        <tr>
            <td>节目ID</td>
            <td>${videoId}</td>
        </tr>
        <tr>
            <td>奇谱ID</td>
            <td>${qipuId}</td>
        </tr>
        <tr>
            <td>节目名称</td>
            <td>${videoTitle}</td>
        </tr>
        <tr>
            <td>描述</td>
            <td>${description}</td>
        </tr>
        <tr>
            <td>内容来源</td>
            <td>${source}</td>
        </tr>
        <tr>
            <td>推荐等级</td>
            <td>${recommend}</td>
        </tr>
        <tr>
            <td>片源清晰度</td>
            <td>${type}</td>
        </tr>
        <tr>
            <td>分类</td>
            <td>${category}</td>
        </tr>
        <tr>
            <td>自定义标签</td>
            <td>
                {{each labels}}
                    <span class="label label-info">${$value}</span>
                {{/each}}
            </td>
        </tr>
    </script>
    <script id="TmplBatchList" type="text/x-jquery-tmpl">
        <tr id="${id}">
            <td><input type="text" name="batch-name"></td>
            <td><input type="text" name="batch-channel" class="input-medium"></td>
            <td><a href="javascript:;" onclick="javascript:UGC.Action.batchDel()">删除</a></td>
        </tr>
    </script>

    <script id="TmplControlHistory" type="text/x-jquery-tmpl">
        <tr>
            <td>${operationTime}</td>
            <td>${operation}</td>
            <td>${operationContent}</td>
            <td>${operator}</td>
        </tr>
    </script>

    <script id="TmplProcessText" type="text/x-jquery-tmpl">
        <p>该节目已经被推送至<a class="span-red" href="" target="_black">原创</a>频道，节目ID为<span class="span-red">${id}</span>可<a href="" target="_blank">点击查看</a>该节目。UGC节目不能被重复推送，请去<a class="span-red" href="" target="_black">原创</a>频道进行多发。</p>
    </script>

    <script id="TmplSeprate" type="text/x-jquery-tmpl">
        <li data-id="${id}">
            <div class="item-container">
                <a href="" target="_blank"><img src="img/thumbnail.jpg" alt="" />
                    <input class="item-select" type="checkbox" value="checkbox">
                    <span class="item-bar"></span>
                    <span class="item-source">${source}</span>
                    <span class="item-type">${type}</span>
                    <span class="item-recommend">${recommend}</span>
                    <span class="item-time">${time}</span>
                    <span class="item-transcode">${transcode}</span>
                    <span class="item-audit">${audit}</span>
                    <span class="item-publish">${publish}</span>
                    <span class="item-duration">${duration}</span>
                </a>
            </div>
            <div class="info-container">
                <select>
                    <option value="1">奇谱ID</option>
                    <option value="2">节目ID</option>
                </select>
                <span class="info-id">${id}</span>
                <p class="info-title">${title}</p>
                {{if canPush}}
                    <a href="javascript:UGC.Action.push(${id});">推送</a>&nbsp;
                {{else}}
                    <span class="item-greybtn">推送</span>
                {{/if}}
                {{if canPlay}}
                    <a href="javascript:UGC.Action.control(${id});">播放控制</a>&nbsp;
                {{else}}
                    <span class="item-greybtn">播放控制</span>
                {{/if}}
                <a href="javascript:UGC.Action.detail(${id});">详情</a>
            </div>
        </li>
    </script>
</body>
</html>
