body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.hero-appicon {
    background: #eee;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px 60px 60px;
}
.appicon {
    overflow:hidden;
}
.appicon ul {
    width: 100%;
}
.appicon li {
    list-style: none;
    float: left;
    display: inline;
    margin: 45px 60px 0 0; /* 控制行间距和列间距 */
}
.appicon li a {
    position: relative;
    z-index: 1;
}
.appicon li .item-bar {
    background-image: url("img/icon_bar.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 226px;
    height: 44px;
    left: -4px;
    top: 30px;
    z-index: 2;
}
.appicon li .item-select {
    position: absolute;
    left: 0px;
    top: -56px;
    z-index: 3;
}

/* 8种text */

/* 视频来源 */
.appicon li .item-source {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 2px;
    top: 33px;
}
/* 视频清晰度 */
.appicon li .item-type {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 42px;
    top: 33px;
}
/* 视频推荐 */
.appicon li .item-recommend {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 84px;
    top: 33px;
}
/* 视频上传时间 */
.appicon li .item-time {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 154px;
    top: 33px;
}
/* 视频转码状态 */
.appicon li .item-transcode {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 2px;
    top: 52px;
}
/* 视频审核状态 */
.appicon li .item-audit {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 59px;
    top: 52px;
}
/* 视频发布状态 */
.appicon li .item-publish {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 115px;
    top: 52px;
}
/* 视频时长 */
.appicon li .item-duration {
    color: #FFFFFF;
    position: absolute;
    z-index: 3;
    left: 186px;
    top: 52px;
}
.appicon li .info-container {
    margin-top: 10px;
}
.appicon li select {
    width: 100px;
    margin-bottom: 5px;
}
.appicon li .info-id {
    position: relative;
    left: 45px;
}
.appicon li .info-title {
    margin-bottom: 5px;
}
/**
 * 表单相关的样式
 */
.form-container {
  border: 1px solid #cdcdcd;
  background-color: rgba(252, 248, 248, 0.47);
  margin-bottom: 15px;
  width: 600px;
}

.form-container hr.dotted {
    margin: 10px 0;
    border: 0;
    border-top: 1px dashed #bfbfbf;
    border-bottom: 1px dashed #ffffff;
}

.form-container .container .form-inline {
    margin: 0;
}

.form-container .container, .form-container .module-container {
    margin: 20px;
}

.form-horizontal .form-actions {
    background-color: white;
    border: 0;
    width: 420px;
}
.editor {
    width: 600px;
    height: 600px;
    max-width: 1024px;
    background-color: #fff;
}
.editor .close-custom {
    right: -420px;
    position: relative;
}
.editor .container {
    width: 600px;
}
.editor legend {
    margin-bottom: 10px;
}
.editor .title-container {
    margin-bottom: 10px;
}
.editor #EditSource,
.editor #EditorBack {
    position: relative;
    top: 3px;
}
.editor .CodeMirror {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
}
.editor #CodeEditor {
    position: relative;
}
.hide {
    display: none;
}
