<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>url</th>
            <th>response</th>
            <th>操作</th>
        </tr>
	</thead>
	<tbody>
        <% posts && posts.forEach(function(post, index) { %> 
            <tr>
                <% if (post.url) { %>
                    <td><%= post.url %></td>
                <% } %>
                <% if (post.response) { %>
                    <td><%= post.response %></td>
                <% } %>
                <% if (post.url) { %>
                    <td><button class="btn btn-danger delete-apiurl" id="<%= post.url %>">删除</button></td>
                <% } %>
            </tr>
        <%}) %>
    </tbody>
</table>
