<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/file-upload">
  <fieldset>
    <legend>文件上传</legend>
    <div class="control-group">
      <div class="controls">
        <input type="file" class="input-xlarge" name="thumbnail">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">开始上传</button>
    </div>
  </fieldset>
</form>
