<!-- start: footer info -->
<div class="container container-footer">
    <footer>
        <p><a href="javascript:;">云帆高科</a> 2013</p>
    </footer>
</div>
<!-- end: footer info -->

    </body>

    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/main.js"></script>
</html>
